.vscode
.idea
PSet3/fifteen/fifteen
PSet3/fifteen/log.txt
PSet1/mario
Pset4/whodunit/test.bmp
Pset4/whodunit/verdict.bmp
Pset4/whodunit/whodunit
Pset4/recover/card.raw
.vs/
Pset4/resize/test.bmp
Pset6/python/__pycache__/
